@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

#header{
 display: flex;
 width: 100;
 align-items: center;
 justify-content: space-between;
 padding: 3px 35px;
 background: #3e414f;
 box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.6);
 z-index: 999;
 position: sticky;
 top: 0;
 left: 0;
}
#mobile{
  display: none;
  align-items: center;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;  
    font-weight: 600;
    color: #fffcfc;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #10eedf;
}
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #1ad8cb;
    position: absolute;
     bottom: -4px;
     left: 20px;
}
/* search Bar */
.search-container {
    display: flex;
    align-items: center;
  }
  .search-container button:hover{
    color: #088178;
  }
  #search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  
  #search-input.expanded {
    width: 300px;
    opacity: 1;
  }
  
  button[type="button"] {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3e414f;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  

#hero{
 background-image: url("img/button/hero4.png");
 height: 90vh;
 width: 100;
 background-size: cover;
 background-position: top 25% right 0;
 display: flex;
 padding: 0 80px;
 flex-direction: column;
 align-items: flex-start ;
 justify-content: center;
}
#hero h4{
 padding-top: -30%;
}
#hero h1{
    color: rgb(61, 18, 1);
    font-size: xx-large;
}
#hero h2{
    padding-top: -20%;
    font-size: xx-large;
   }
   #hero button:hover{
    color: #e91e63;
   }
#hero button{
    background-image: url("img/button/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-right: 8px;
}
#hero span{
  font-family: "Clicker Script",cursive;
  color: red;
  font-weight: 400;
  margin-left: 1px;
}
.section-p1{
    padding: 25px 40px;
}
.section-m1{
    margin: 40px 0;
 }
 button.normal{
  font-size: 14px;
  font-weight:600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
 }
body{
    width: 100%;
}
#feature .fe-box{
   width: 140px; 
   text-align: center;
   padding: 18px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 1pc 1pc;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature h6{
    display: inline-block;
    padding : 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature  .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature  .fe-box:nth-child(2) h6{
background-color: #cdebbc;
}
#feature  .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature  .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature  .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature  .fe-box:nth-child(6) h6{
    background-color: lightsalmon;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
}
#product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    margin: 15px 0;
    transition: 0.2 ease;
    position: relative;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px white
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: lightgrey;
}
#product1 .pro .star i{
    color: gold
}
#product1 .pro .des h5{
    padding-top: 7px;
     color: #1a1a1a;
     font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}
#banner h4{
    color: white;
    font-size: 16px;
   margin-right: 1pc;
}
#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner span{
    color: #ef3636;
    font-size: 30px;
    padding: 10px 0;
}
#banner button:hover{
  background-color: #088178;
  color: #fff;
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 450px;
    height: 40vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}
#sm-banner h4{
    color: #fff;
    font-size: 25px;
    font-weight: 350;
}
#sm-banner h1{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size: 14px;
    font-weight:500;
    padding: 6px 8px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
   }
   #sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1pc solid #088178;

   }
#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    background-image: url("img/banner/b7.jpg");
    min-width: 25%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 18px;
   
}
#banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
    
}
#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 25px;
}
#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
  }

  #newsletter .form{
    display: flex;
    width: 40%;
  }
  #newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #014e42;
    margin: 40px 0;
  }
  #newsletter .newstext h4{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
  #newsletter .newstext p{
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
  }
  #newsletter .newstext span{
    color: #ffbd27;
  }
  #newsletter input{
 height: 3.125rem;
 padding: 0 1.25em;
 font-size: 14px;
 width: 100%;
 border: 1px solid transparent;
 border-radius: 4px;
 outline: none;
 border-top-left-radius: 0;
 border-bottom-right-radius: 0;
  }
  #newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
 border-bottom-left-radius: 0;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  footer .col{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-bottom: 20px;
  }     
  footer .logo{
    margin-bottom: 30px;
  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  footer a{
    font-size: 13px;
    color: #222;
    text-decoration: none;
    margin: 10px;
  }
  footer .follow{
    margin-top: 20px;
  }
  footer .follow i{
    padding-right: 4px;
    cursor: pointer;
  }
  footer .install .row img{
   border: 1px solid #088178;
   border-radius: 6px ;
  }
  footer .install img{
    margin: 10px 0 15px 0;
  }
  #footer .follow i:hover, footer a:hover{
    color: #0c76f0;
  }
  #footer .icon span:hover i { 
color: red;
  }
  @media(max-width:416px){
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;
    }
    #navbar .active{
      right: 0px;
    }
    #navbar li{
      margin-bottom: 25px ;    

    }
    #mobile{
      display: flex;
      align-items: center;
    }
    #mobile i{
      color: black;
      font-size: 24px;
      padding-left: 20px;
  }
}
#header span{
  size: 60%;
  color: white;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#motion-text {
  display: inline-block;
  animation-name: moveText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
.decorated-text {
  position: relative;
  display: inline-block;
  font-size: 36px;
  color: #333;
  padding: 10px;
}

.decorated-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e91e63;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}
#decorated h1{
  color: #10eedf;
}
